<%= form_for @song do |f| %>
<% if @song.errors.any? %>
<div id="error_explanaton"> 
<ul>
<%= @song.errors.full_message.each do |message| %>
<li><%= message %></li>
<%end %>
</ul>
</div> 
<% end %>
<h3>Title:<%= f.text_field :title %></h3> 
<h3>Released?:<%= f.check_box :released %></h3>
<h3>Release_year:<%= f.text_field :release_year %></h3>
<h3>Artist_name:<%= f.text_field :artist_name %></h3> 
<h3>Genre:<%= f.text_field :genre %></h3>
<%= f.submit %> 
<% end %>